* {
  width: 300-x;
}

.table-container {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin: 0 auto;
  background-color: #fff;
  justify-content: center;
  max-width: 100%;
  table-layout: auto;
  word-wrap: break-word;
}

th,
td {
  padding: 10px;
  padding-right: 2rem;
  text-align: left;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

tbody {
  background: linear-gradient(to bottom, rgb(172, 169, 169), #a9a9a9);
  color: black;
}

.btn-action {
  padding-right: 2rem;
}

button {
  background-color: #1e966a;
  color: white;
  padding: 0.55rem;
  border: none;
  cursor: pointer;
}
form {
  width: 100%;
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding-left: 0;
  margin: 0;
}

.task-form {
  margin-top: 20px;
}

body {
  background: #8758ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.TaskWrapper {
  background: #1a1a40;
  margin-top: 5rem;
  padding: 2rem;
  padding-top: 0.55rem;
  border-radius: 7px;
  max-width: 100%;
}

.task-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
  width: 300px;
  color: #fff;
}

h1 {
  color: #f5f5f5;
  margin-bottom: 0.5rem;
}

.update-btn {
  padding-right: 5rem;
  margin-left: 0.5rem;
  position: absolute;
  float: right;
  color: black;
}

.actions {
  /* justify-content: space-between; */
  align-items: center;
  margin-left: auto;
}

.actions > * {
  margin-right: 5px;
}

.table-container::after {
  content: "";
  clear: both;
  display: table;
}

.table-text {
  word-break: break-word;

  text-overflow: ellipsis;
}

.delete-btn {
  color: red;
  margin-left: 5px;
  padding-left: 0;
}

.completed {
  color: brown;
  text-decoration: line-through;
}

.pending {
  color: rgb(235, 141, 18);
}

.done {
  color: rgb(0, 144, 0);
}

.status {
  margin-right: 10px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: white;
}

.modal-header,
.modal-footer {
  padding: 5px;
}

.modal-title {
  margin: 0;
  text-align: center;
}

.modal-body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-task-input {
  justify-content: center;
  width: 300px;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.delete-btn,
.pending,
.done {
  margin-left: 8px; /* Add default space between the buttons */
  flex-shrink: 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .delete-btn,
  .pending,
  .done {
    margin-left: 5px; /* Adjust the margin for smaller screens */
  }
}

/* Media query for even smaller screens */
@media (max-width: 576px) {
  .delete-btn,
  .pending,
  .done {
    margin-left: 3px; /* Adjust the margin for even smaller screens */
  }
}
